/* Your stylesheet goes here */





.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: limegreen;
  stroke-width: 2px;
}
