. cnavbar {
    background-color: #B51E1E
}


.social {
    padding-left:0px; padding-right:0px !important;
}

.social:hover {
    color: gray;
    text-decoration: none;
}


.credit {
    font-size:14px;
    margin-top:0px;
    color: #ffffff;
    display:block;
    position:absolute;
    right: 1%;
    bottom: 0%;
    align-content: right
}

.arrow-down-custom{
    color: black
}

.viewing {

    background-color: transparent;
}

.notviewing {
    display: inline;

    background-color: transparent;
}


.legend-custom {
    position: relative;
    background-color: transparent;
    width: 100%;
    font-size: 18px !important;
    color: transparent;
    font-family: 'Titillium Web', serif;
    box-shadow: none;
    border-radius: 0;
}

.legend-custom p {
    line-height:30px;
    font-size: 18px;
}

.legend-custom i {
    width: 18px;
    height: 18px;
    float: left;
    opacity: 0.9;
    margin-top: 5px}

section p {

    height: 18px;
}


body {

    color: rgba(0, 0, 0, 1);
    font-family: 'Titillium Web', serif;

}

h1{
    font-size: 120px;
    font-weight:bold;
    color: rgba(0, 0, 0, 0.9);
    margin-top: 250px;
    text-shadow: 0 0 3px rgba(255, 255, 255, 1);
    font-family: 'Fira Sans Condensed', serif;
}

h2{
    font-size:25px;
    margin-top: 20px;
    padding-left: 17%;
    padding-right: 17%;
    color: rgba(0, 0, 0, 0.9);
    text-shadow: 0 0 1px rgba(255, 255, 255, 1);
    font-family: 'Titillium Web', serif;
}


h3{
    font-weight:bold;
    color: #000000;
    font-family: 'Titillium Web', serif;
    font-size:30px;
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.95);
    text-shadow: 0 0 1px rgba(255, 255, 255, 1);
}
h4{

}

h5{
    font-weight:bold;
    text-align: justify;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.95);
}

p{
    font-size: 18px;
    display: inline;
    color:black
}

.end-background-img {
    background: url(../img/people8.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.overview-background-img {
    background: url(../img/frontpage.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.checkin-background-img {
    background: url(../img/camp5.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.circle {
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    border:0.2px solid #ffffff;
}


.my_polyline {
    stroke: #B51E1E;
    fill: none;
    stroke-dasharray: 10,10;
    stroke-width: 5;
}

.point-legend {

    font-size: 20px;

}

.hexbin-hexagon {
    stroke: rgba(0, 0, 0, 0);
    stroke-width: .5px;
}


.embeded-photo {
    margin-top:20px;

}

.embeded-photo img {
    max-width: 500px;

}

.embeded-photo p {
    font-size: 15px
}