. cnavbar {
    background-color: #B51E1E
}


.social {
    padding-left:0px; padding-right:-4px !important;
}

.social:hover {
    color: gray;
    text-decoration: none;
}


.credit {
    font-size:14px;
    margin-top:0px;
        color: white;
    text-shadow: 0 0 4px black;
    display:block;
    position:absolute;
    right: 1%;
    bottom: 3%;
    align-content: right
}

.arrow-down-custom{
    color: black
}

.viewing {

    background-color: transparent;
}

.notviewing {
    display: inline;

    background-color: transparent;
}


.legend-custom {
    position: relative;
    background-color: transparent;
    width: 100%;
    font-size: 18px !important;
    color: transparent;
    font-family: 'Titillium Web', serif;
    box-shadow: none;
    border-radius: 0;
}

.legend-custom p {
    line-height:30px;
    font-size: 18px;
}

.legend-custom i {
    width: 18px;
    height: 18px;
    float: left;
    opacity: 0.9;
    margin-top: 5px}

section p {

    height: 18px;
}


body {

    color: rgba(0, 0, 0, 1);
    font-family: 'Titillium Web', serif;

}

h1{
    font-size: 80px;
    font-weight:bold;
    color: rgba(0, 0, 0, 0.9);
    margin-top: 5%;
    margin-left: 6%;
    /*text-shadow: 0 0 3px rgba(255, 255, 255, 1);*/
    font-family: 'Fira Sans Condensed', serif;
}

h2{
    font-size:25px;
    /*margin-top: 20px;*/
    padding-left: 17%;
    padding-right: 17%;
    color: rgba(0, 0, 0, 0.9);
    text-shadow: 0 0 1px rgba(255, 255, 255, 1);
    font-family: 'Titillium Web', serif;
}

.h2_overview{
    font-size:25px;
    /*margin-top: 20px;*/
    padding-left: 7%;
    padding-right: 27%;
    padding-bottom: 2%;
    color: whitesmoke;
    text-shadow: 0 0 1px black;
    font-family: 'Titillium Web', serif;
    margin-bottom: 0px;
    position:absolute;
    bottom: 4%;

}

h3{
    font-weight:bold;
    color: #000000;
    font-family: 'Titillium Web', serif;
    font-size:30px;
    margin-bottom: 0px;
    color: rgba(0, 0, 0, 0.95);
    text-shadow: 0 0 1px rgba(255, 255, 255, 1);
}

.h3_info{
    font-size:50px;
}

h4{
    font-weight: bold;
}

h5{
    font-weight:bold;
    text-align: justify;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.95);
}

p{
    font-size: 18px;
    display: inline;
    color:black
}

.p_end{
    font-size:35px;
    color: white;
    text-shadow: 0 0 4px black;
    margin-left: 35%;
    margin-right: 6%;
    text-align:justify;
    position:absolute;
    top: 30%;
}

.description{
    font-size: 30px;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

.end-background-img {
    background: url(../img/people8.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.overview-background-img {
    background: url(../img/frontpage.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.checkin-background-img {
    background: url(../img/camp5.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.circle {
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    border:0.2px solid #ffffff;
}


/*.pipeline_pattern {*/
    /*stroke: #B51E1E;*/
    /*fill: none;*/
    /*stroke-opacity: 0.8;*/
    /*stroke-dasharray: 15,15;*/
    /*stroke-width: 10;*/

/*}*/

.point-legend {

    font-size: 20px;

}

.hexbin-hexagon {
    stroke: rgba(0, 0, 0, 0);
    stroke-width: .5px;
}


.embeded-photo {
    /*margin-top:20px;*/
    margin: 4px 4px 4px 4px;
    box-shadow: 0 0 0 4px #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    background-color: white;
}

.embeded-photo img {
    max-width: 480px;
}

.embeded-photo p {
    font-size: 15px
}

.linechart {

    margin-top: 30px
}
.text-primary {
    color: #006080;
}


.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}

.line {
    fill: none;
    stroke: #B51E1E;
    stroke-width: 5px;
}


.TooltipDiv{
    width:400px;
    white-space: normal;
    font-size: 15px;
}

@keyframes fade {
    from { opacity: 0.3; }
}

.blinking {
    animation: fade 0.4s infinite alternate;
}

.boucingmarker{
    font-size: 25px;
}
