. cnavbar {
    background-color: #B51E1E
}


.social {
    padding-left:0px; padding-right:0px !important;
}

.social:hover {
    color: gray;
    text-decoration: none;
}


.credit {
    font-size:18px;
    margin-top:0px;
    color: #ffffff;
    display:block;
    position:absolute;
    right: 1%;
    bottom: 0%;
    align-content: right
}


.back-trans{
    background: rgba(25, 25, 25, .5);


}

body {
    font-family: 'Droid Serif', serif;
    background-color:#545966;
    color: #000000;

}

h1{
    font-size: 80px;
    font-weight:bold;
    color: rgba(255, 255, 255, 0.95);
    padding-top: 50px;
    text-shadow: 0 0 2px rgba(0, 0, 0,.5);
}

h2{
    font-size:25px;
    padding-top: 1px;
    padding-left: 17%;
    padding-right: 17%;
    color: rgba(255, 255, 255, 0.95);
    text-shadow: 0 0 2px rgba(0,0,0,.95);
}


h3{
    font-size: 50px;
    font-weight:bold;
    color: rgba(0, 0, 0, 0.95);
}
h4{
    font-weight:bold;
    color:white;
    font-size:30px;
    color: rgba(0, 0, 0, 0.95);
}

h5{
    font-weight:bold;
    text-align: justify;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.95);
}

p{

    font-size: 20px;
    display: inline;
    color:black
}

.end-background-img {
    background: url(../img/people8.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.overview-background-img {
    background: url(../img/people9.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.checkin-background-img {
    background: url(../img/camp5.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.circle {
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    border:0.2px solid #ffffff;
}


.my_polyline {
    stroke: #B51E1E;
    fill: none;
    stroke-dasharray: 10,10;
    stroke-width: 5;
}



.hexbin-hexagon {
    stroke: rgba(0, 0, 0, 0);
    stroke-width: .5px;
}

